i.brand {
  color: orange;
  margin-right: 0.18em;
  font-size: 0.8em;
}
h1.brand {
  color: #999;
}

.right-header {
  text-align: right;
}

.btn-signin {
  background-color: #eee;
}

i.search {
  color: #ccc;
}
.nav {
  margin: 1.5em 0 2.5em 0;
  padding-bottom: 1.5em;
  border-bottom: solid 1px #eee;
}
.nav-left {
}
.nav-mid {
  margin-top: 2em;
}
.nav-right {
  margin-top: 2em;
}
.separator {
  border: solid 1px #eee;
  padding: 0.7em 0 0.7em 10em;
  margin-bottom: 1em;
}
.content {
  font-size: 1em;
}
.footer {
  margin: 3em 0;
  text-align: center;
  color: #999;
}

/* Search page */


/* hover effects ***************************/
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 1;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 1em 0 4em;
/*  max-width: 1000px;
*/  list-style: none;
  text-align: center;
}

.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

figure.effect-julia {
  background: #2f3238;
}

figure.effect-julia img {
  /*max-width: none;*/
  /*height: 400px;*/
  /*-webkit-transition: opacity 1s, -webkit-transform 1s;*/
  -webkit-transition: -webkit-transform .5s;
  /*transition: opacity 1s, transform 1s;*/
  transition: transform .5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-julia figcaption {
  text-align: left;
}

figure.effect-julia h2 {
  position: relative;
  padding: 0.5em 0;
}

figure.effect-julia p {
  display: inline-block;
  margin: 0 0 0.25em;
  padding: 0.4em 1em;
  /*background: rgba(255,255,255,0.9);*/
  background: lightgrey;
  color: #2f3238;
  text-transform: none;
  font-weight: 500;
  font-size: 75%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-360px,0,0);
  transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-julia:hover img {
  opacity: .5;
  -webkit-transform: scale3d(1.01,1.01,1);
  transform: scale3d(1.01,1.01,1);
}

figure.effect-julia:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


/* single recipe page */
div.summary {
  margin-left: -15px;
}
div.summary h3 {
  margin-top: 0;
}
div.instructions {
  margin: 1em 0 0 0;
}
img.related {
  /*max-height: 75px;*/
  margin-bottom: 0.25em;
  border: solid 1px #eee;
}


/* Summary section */
.summary td {
  padding-right: 2em;
  color: #bbb;
  /*vertical-align: top;*/
  vertical-align: bottom;
}
.summary a {
  font-weight: 200;
}
p.head {
  font-size: 1em;
  margin-top: 1em;
}
p.body {  
  font-weight: 100;
  font-size: 3em;
  color: orange;
  line-height: 0.7;
  padding-right: 0.5em;
}
p.foot {
  font-size: 0.9em;
}


/* Instructions */
h3.upper {
  text-transform: uppercase;
  font-weight: 100;
}
ul {
  list-style: none;
  padding-left: 0;
}
ol {
  padding-left: 1.5em;
}

/* Search */
div.search {
  margin-left: 0;
}
div.search-header {
  margin-top: -1em;
  text-align:center;
}

