i.brand {
  color: orange;
  margin-right: 0.12em;
}
h1.brand {
  color: #999;
}

.right-header {
  text-align: right;
}

.btn-signin {
  background-color: #eee;
}

i.search {
  color: #ccc;
}
.nav {
  margin: 1.5em 0 2.5em 0;
}
.nav-mid {
  margin-top: 2em;
}

.nav-right {
  margin-top: 2em;
}
.footer {
  margin: 3em 0;
  text-align: center;
  color: #999;
}
