<article class="h-recipe">
  <div class="e-instructions">
  </div>
</article>
<!--<div class="ui huge header">{{hello}}</div>-->
<div class="ui vertically divided relaxed grid container">
  <div class="six wide column">
    <img ng-src="{{recipe.image}}" alt="">
  </div>
  <div class="ten wide column">
    <h1 class="p-name">{{recipe.name}}</h1>

    <p>Lorem ipsum dolor sit amet, consectetur.</p>

    <div>
      <div class="ui labeled button" tabindex="0">
        <div class="ui red button">
          <i class="heart icon"></i> Like
        </div>
        <a class="ui basic label">
          2,048
        </a>
      </div>
      <div class="ui left labeled button" tabindex="0">
        <a class="ui basic label">
          1,048
        </a>

        <div class="ui blue icon button">
          <i class="fork icon"></i>
        </div>
      </div>
      <div class="ui left labeled button" tabindex="0">
        <a class="ui basic label">
          1,048
        </a>

        <div class="ui icon violet button">
          Share
        </div>
      </div>
    </div>
    <h4 class="ui header">rating:</h4>

    <div class="ui huge rating" data-rating="1" data-max-rating="3"></div>
  </div>
  <div class="fourteen wide column">
    <div class="text container recipe">

      <h3 class="ui header">Ingredients</h3>

      <div class="ui list">
        <div class="item" ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</div>
      </div>
      <div ng-repeat="instruction in instructions" class="ui ordered list">
        <div class="item">{{instruction}}</div>

      </div>
    </div>
  </div>
</div>


