<div class="col-md-4 col-md-offset-4" ng-submit="signup()">
Already have an account?  <a href="/#/signin">Sign in</a>
<form class="form-signin">
  <input type="text" class="form-control" placeholder="Username" required autofocus ng-model="user.username">
  <input type="password" class="form-control" placeholder="Password" required ng-model="user.password">
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-default btn-block btn-signup" type="submit">Sign up</button>
</form>
</div>
